@import "@/css/_variabled.css";
@import "@/css/font.css";
@import "@/css/reset.css";

.wrapper {
    height: 100vh;
    position: relative;
}

.content {
    min-height: calc(100vh - 5.75rem - 8.5rem);
    margin-top: 5.75rem;
    padding: 2.8rem 2.4rem;
}

.content-title-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content-title-text {
    font-size: 2.8rem;
}

.content-title-add-btn {
    cursor: pointer;
    padding: 0.4rem 2rem;
    border-radius: 100rem;
    font-size: 1.4rem;
    color: white;
}

.content-hr {
    margin: 2.4rem 0;
    border-color: var(--hr-color);
}

.app-item-img {
    width: 25%;
    max-width: 4.8rem;
    border-radius: 0.8rem;
}

.app-item {
    padding: 0.8rem;
    border-radius: 0.8rem;
}

.app-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.8rem;
}

.app-box {
    display: flex;
    align-items: center;
    grid-gap: 1.6rem;
    margin: 0.8rem 0;
}

.app-icon {
    width: 4.8rem;
    border-radius: 0.8rem;
}

.app-title {
    font-size: 1.4rem;
    overflow: hidden;
}

.app-view,
.app-download {
    font-size: 1.2rem;
}

.app-control-box {
    display: flex;
    justify-content: center;
    grid-gap: 1.2rem;
}

.app-control-btn {
    cursor: pointer;
    padding: 0.4rem 2rem;
    border-radius: 100rem;
    font-size: 1.2rem;
    z-index: 10;
    border: 2px solid var(--hr-color);
    background: var(--background-color);
    transition: all 200ms ease-in-out;
}

.app-control-btn:hover {
    border: 2px solid var(--background-color);
    color: white;
}

.view:hover {
    background-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
}

.modify:hover {
    background-color: green;
}

.remove:hover {
    background-color: red;
}

.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-color);
    top: 0;
    z-index: 10;
    display: none;
}

.overlay-remove {
    width: 75%;
    position: fixed;
    z-index: 11;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1.6rem 2.4rem;
    background-color: var(--dialog-background-color);
    border-radius: 0.8rem;
    display: none;
}

.remove-title {
    text-align: center;
    font-size: 1.8rem;
}

.remove-control-box {
    margin-top: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1.6rem;
}

.remove-btn {
    padding: 0.4rem 2.4rem;
    border-radius: 100rem;
    cursor: pointer;
}

.yes {
    background-color: red;
}

.no {
    background-color: var(--sub-color);
}

.display {
    display: block;
}

@media screen and (min-width: 1200px) {
    .content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}