@import "@/css/_variabled.css";
@import "@/css/font.css";
@import "@/css/reset.css";

.wrapper {
    height: 100vh;
    position: relative;
}

.content {
    margin-top: 5.75rem;
    padding: 2.8rem 0;
}

.content-banner-item {
    width: 100%;
    height: 27.5rem;
    background-image: url("https://picsum.photos/960/330");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content-app-box {
    margin-top: 4.8rem;
    padding: 0 2.8rem;
}

.content-flex-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 0.8rem;
}

.content-title {
    font-size: 2.8rem;
}

.content-des {
    font-size: 1.4rem;
    color: var(--sub-color);
    cursor: pointer;
}

.content-des:hover {
    color: transparent;
}

.content-hr {
    margin: 2.4rem 0;
    border-color: var(--hr-color);
}

.app-item-img {
    width: 25%;
    max-width: 4.8rem;
    border-radius: 0.8rem;
}

.app-item {
    padding: 0.8rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.app-item:hover {
    background-color: var(--sub-deepdark-color);
}

.app-thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    border-radius: 0.8rem;
}

.app-box {
    display: flex;
    align-items: center;
    grid-gap: 1.6rem;
    margin-top: 0.8rem;
}

.app-icon {
    width: 4.8rem;
    border-radius: 0.8rem;
}

.app-title {
    font-size: 1.4rem;
    overflow: hidden;
}

.app-author,
.app-download,
.app-timestamp {
    font-size: 1.2rem;
}

@media screen and (min-width: 1200px) {
    .content {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }
}