.header {
    position: fixed;
    width: 100%;
    top: 0;
    padding: 1.6rem 0;
    background-color: var(--background-color);
    box-shadow: 0px 2px 6px var(--shadow-color);
    height: 5.75rem;
    z-index: 10;
    display: flex;
    align-items: center;
}

.header-mobile {
    width: 100%;
    padding: 0 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header-mobile-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.4rem;
}

.header-mobile-right-box {
    display: flex;
    align-items: center;
    grid-gap: 1rem;
}

.header-mobile-search-box {
    border: 2px solid var(--hr-color);
    width: auto;
    max-width: 18rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-mobile-search-box > i,
.header-mobile-right-box > i {
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--primary-color);
}

.header-mobile-search-box > i:hover,
.header-mobile > i:hover {
    color: transparent;
}

.header-desktop {
    width: 100%;
    padding: 0 7.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-desktop-left-box,
.header-desktop-right-box,
.header-category-box {
    display: flex;
    align-items: center;
    grid-gap: 2.4rem;
}

.header-logo-box {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-gap: 0.4rem;
}

.header-category-radio {
    display: none;
}

.header-category-radio:checked + label {
    color: transparent;
    border-bottom: 2px solid white;
    border-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    border-image-slice: 1;
    border-radius: 50%;
}

.header-category-item {
    color: var(--primary-color);
    cursor: pointer;
    font-size: 1.4rem;
}

.header-search-box {
    border: 2px solid var(--hr-color);
    width: 18rem;
    height: 3.2rem;
    border-radius: 0.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.header-search-input {
    width: calc(100% - 2rem);
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1.2rem;
}

.header-search-box > i {
    font-size: 1.4rem;
    cursor: pointer;
    color: var(--primary-color);
}

.header-search-box > i:hover {
    color: transparent;
}

.header-desktop-right-box > *{
    color: var(--primary-color);
    cursor: pointer;
}

.header-username {
    font-size: 1.2rem;
    font-weight: 500;
}

.header-desktop-right-box > i {
    font-size: 2rem;
}

.header-desktop-right-box > i:hover,
.header-username:hover {
    color: transparent;
}

.header-mobile > * {
    font-size: 2rem;
}

.gradient-border {
    border-color: transparent;
    border-image: linear-gradient(-20deg, #b721ff 0%, #21d4fd 100%);
    border-image-slice: 1;
    border-radius: 0.4rem;
}

.overlay {
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-color);
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: none;
}

.overlay-menu {
    height: 100vh;
    position: fixed;
    z-index: 101;
    top: 0;
    right: 0;
    background-color: var(--background-color);
    overflow-y: scroll;
}

.overlay-menu.open {
    right: 0;
}

.overlay-menu-header {
    height: 5.75rem;
    box-shadow: 0px 2px 6px var(--shadow-color);
    margin-bottom: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.4rem;
}

.overlay-menu-header > i {
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--primary-color);
}
.overlay-menu-header > i:hover {
    color: transparent;
}

.overlay-menu-box {
    padding: 0 2.4rem;
}

.overlay-menu-box:last-child {
    margin: 3.6rem 0;
}

.overlay-menu-title {
    font-size: 2.4rem;
}

.overlay-menu-hr {
    border-color: var(--hr-color);
    margin: 0.8rem 0;
}

.overlay-menu-list {
    display: flex;
    flex-direction: column;
    grid-gap: 0.4rem;
}

.overlay-menu-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 0.8rem 2.4rem;
    border-radius: 0.8rem;
}

.overlay-menu-item > * {
    color: var(--primary-color);
}

.overlay-menu-item:hover {
    background-color: var(--hr-color);
    border-radius: 0.8rem;
}

.overlay-menu-item:hover > * {
    color: transparent;
}

.overlay-menu-item-title {
    font-size: 1.4rem;
}

@media screen and (max-width: 767px) {
    .overlay-menu {
        width: 100vw;
        right: -100vw;
    }
}

@media screen and (min-width: 768px) {
    .overlay-menu {
        width: 28rem;
        right: -28rem;
    }
}

@media screen and (max-width: 1199px) {
    .header-mobile {
        display: flex;
    }

    .header-desktop {
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .header-mobile {
        display: none;
    }

    .header-desktop {
        display: flex;
    }
}